{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    {%if not user.have_server%}
        <a href={% url 'create_server' %}>creer votre server</a>
    {% else %}
        <p>vous avez un serveur sur le port : {{ serv.port }}</p>
        <p><a href={% url 'modify_server' %}>modifier votre serveur</a> | <a href={% url 'sup_server' %}>sup votre server</a></p>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>

{% else %}
    <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
{% endif %}
